.App {
  min-height: 100vh;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F1EDE4;
}

::-webkit-scrollbar-thumb {
  background: #123524;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3E5849;
}